.game__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .game__container {
    width: 500px;
    max-width: 500px;

    h1 {
      margin-bottom: 0;
    }
    p {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1em;
      text-align: center;
    }
  }
}