include views/_scene
include views/_modal

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png")
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="stylesheet", href="css/main.min.css")
    title Memory Game
  body
    //- .modal__container
    //-     .modal__content
    //-       .modal__input-container
    //-         p.modal__display-text Hi! 👋 Are you ready to play?
    //-         form(action="" id="form-input" class="modal__form")
    //-           input(type="text" id="player-input" name="playerName" maxlength="150" class="modal__input" placeholder="Type your name then press enter to play...")
    //-         p(id="modal-close" class="modal__btn-close") N🙅ope

    .container
      section(id="game" class="game__section")
        .game__container
          h1(id="player-name") Kelvin's
          p Mem🧠ry Game
          #delegate
            .row
              +scene()
            .row
              +scene()
            .row
              +scene()
            .row
              +scene()
            .row
              +scene()

        section(id="game-messages" class="game-messages")
          p(id="game-messages-display-text" class="game-messages__display-text") Win or lose message here
          p(class="game-messages__body") Do you want to play again?
          .game-messages__button-set
            button(id="btn-yes" class="game-messages__button-set--yes") Yes
            button(id="btn-no" class="game-messages__button-set--no") No

  script(src="app.js")