include mixins/_scene
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Memory Game
  body
    .container
      //- form#player-input
      //-   input()
      h1 Memory 🧠 Game
      #delegate
        .row
          +scene()
        .row
          +scene()
        .row
          +scene()
        .row
          +scene()
        .row
          +scene()
      //- #game-message.game-message
      //-   h1 message here
      //-   p Do you want to play again?
      //-   button yes
      //-   button no
  script(src="../app.js")