.row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}

.col {
  align-items: center;
  border: 1px solid #82ccdd;
  display: flex;
  font-size: 2em;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.container {
  border: 1px solid magenta;
  margin: 0 auto;
  max-width: 1200px;
}

/* card-flip ========================================= */

.scene {
  align-items: center;
  border: 1px solid #82ccdd;
  display: flex;
  font-size: 2em;
  height: 94px;
  justify-content: center;
  perspective: 600px;
  width: 94px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  align-items: center;
  background-color: #f6b93b;
  display: flex;
  justify-content: center;
}

.card__face--front:before {
  content: '🤔';
}

.card__face--back {
  align-items: center;
  background-color: #3c6382;
  display: flex;
  justify-content: center;
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card { 
  transform-origin: center right; 
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
