mixin scene()
  .scene
    .card
      .card__face.card__face--front
      .card__face.card__face--back
  .scene
    .card
      .card__face.card__face--front
      .card__face.card__face--back
  .scene
    .card
      .card__face.card__face--front
      .card__face.card__face--back
  .scene
    .card
      .card__face.card__face--front
      .card__face.card__face--back
  .scene
    .card
      .card__face.card__face--front
      .card__face.card__face--back